* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 1%;
    height: 60px;
    margin: 0 2% 1%;
}
.nav_img1 {
    display: flex;
    width: 54.08px;
    height: 54.08px;
}
.nav_link {
    display: flex;
    font: halant;
    font-size: ;
    align-items: center;
    padding: 20px;
    gap: 60px;
}
.nav_button {
    padding: 10px 16px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #155eef;
}
.harmburger {
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 2rem 32px;
    gap: 5rem;
    margin: 0 2% 2%;  
    background-color: rgba(249, 251, 255, 1); 
}
/* .layout1_img1 {
    display: flex;
    box-sizing: border-box;
} */
.layout1 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    /* align-items: flex-start; */
    font-weight: 500;
    font-size: 24px; 
    letter-spacing: 0.5px;
    /* width: 50%; */
}

.layout1_img1 img {
    width: 100%;
    border-radius: 8px;
}
h3 {
    font-family: 'halant';
    font-style: normal;
    font-size: 56px;
    font-weight: 600;
    color: #155eef;
}

.second_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 8px;
    border: 2px solid #155eef;
    padding: 64px 32px;
    margin: 0 2% 2%;  

    /* width: 100%;   */
}
.second_nava {
    /* width: 80%; */
}
.nav_img2 {
    /* display: flex;
    width: 50%; */
    border: solid #155eef;
    border-width: 2px 0px 2px 2px;
}
.second_nav img {
    width: 100%;
}
.second_nava p {
    font-size: 24px;
    text-align: justify;
    font-weight: 400;
    font-family: 'Manrope';
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 150%;
    
}
.second_nava h3 {
    color: black;
    font-style: normal;
    font-family: 'Halant';
    font-size: 40px;
    font-weight: 400;
}
   
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #155eef;
    border-radius: 8px;
    padding: 1%;
    height: 60px;
    margin: 0 2%;
}
.Footer_social_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_img {
    /* display: flex; */
    width: 30%;
}
.footer_img img{
    width: 50%;
}
.footer_p {
    display: flex;
    font: 'halant';
    font-size: ;
    align-items: center;
    padding: 20px;
    gap: 60px;
}
button {
    padding: 10px 16px;
    color: white;
    background-color: blue;
    border-radius: 8px;
    border-color: blue;
    margin-top: 3%;
    font-family: 'manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.ft_img {
    display: flex;
    align-items: center;
    /* width: 20%; */
    /* justify-content: space-between; */
}
.ft_img img {
    width: 20%;
}
.layout1 p1 {
    font-family: 'Halant';
    font-size: 24px;
    font-style: normal;
    font-weight: 600px;
}



/* Responsive */
@media screen and (max-width: 944px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-right: 2%;
        padding-left: 2%;
    }
    .layout1 p {
        font-size: 16px;
        font-family: 'Manrope';
    }
    .layout1 p1 {
        font-size: 16px;
        font-family: 'Halant';
    }
    .layout1 h3 {
        font-size: 32px;
        font-family: 'Halant';
        
    }
    .footer_p {
        display: block;
        text-align: center;
        
    }
    .Footer_social_logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    .Footer_social_logo img {
        width: 100%;
    }
    footer {
        display: block;
    }
    .second_nav {
        display: flex;
        /* flex-direction: column; */
        flex-direction: column-reverse;
        padding-left: 2%;
        padding-right: 2%;
    }
    .second_nava h3 {
        align-items: center;
    }
    .second_nava p {
        font-size: 16px;
    }
    
    .harmburger {
        display: block;
    }
    .nav_link {
        display: none;
    }
    button {
        width: 100%;
    }
}

